body {
    background-image: url(https://www.luxurybynature.nl/Files/4/13000/13520/ProductPhotos/MaxContent/1379692301.jpg);
}
.tabella {
    position: relative;
    margin: 5%;
    border-style: double;
    border-color: green;
    padding: 5%;
    background-image: url(https://www.luxurybynature.nl/Files/4/13000/13520/ProductPhotos/MaxContent/1380026466.jpg);
    font-size: 13px;
    
}


tr{
    font-size: 2rem;

}
