html{
    font-family: 'Shizuru', cursive;
    font-size: 2rem;
    box-sizing: border-box;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
h1{
    color: rgba(253,187,45,1);
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
}

.tasto{
    display: inline-block;
    width:20%;
    margin: 10px auto;
    cursor:pointer;
    border: 2px solid black;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
    color: white;
    box-shadow:  2px 2px rgb(53, 50, 50);
}
#result{
    display: inline-block;
    margin: 10px auto;
    cursor:pointer;
    border: 2px solid black;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
    color: white;
    box-shadow:  2px 2px rgb(53, 50, 50);
    width: 80%;
}

#tastierino{
    margin: 20px auto;
    line-height: 60px;
}

#calcolatrice{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: 2px solid white;
    box-shadow: 3px 3px rgb(53, 50, 50);
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}

#display{
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 90px;
    color: white;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    text-align: right;
    box-shadow: 2px 2px rgb(53, 50, 50);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(191,181,218,1) 52%, rgba(148,187,233,1) 100%);
}

div{
    text-align: center;
    
}

#tastierino>div:hover {
    box-shadow: 3px 3px black;
  }
  


@media screen and (min-width:1173px) {
  
   
    #tastierino{
        margin: 0;
    }

    #display{
      width: 88%;
      margin:0 auto;
     }

     #result{
         width: 86%;
     }
}

@media screen and (max-width:700px) {
    #calcolatrice{
        width: 60%;
    }
    #display{
        width: 88%;
        margin:0 auto;
       }
    
}
    @media screen and (max-width:700px) {
        #calcolatrice{
            width: 70%;
        }
        #display{
            width: 88%;
            margin:0 auto;
           }
    }