html {
  font-style: "Jua", sans-serif; }

.bi {
  color: rgba(255, 147, 192, 0.979); }

li {
  margin-right: 40px;
  text-align: center; }

#palermo {
  width: 130px;
  height: 100px; }

li p {
  color: #fde57b; }

#nav {
  box-shadow: 5px 5px rgba(255, 147, 192, 0.979); }

h4, h5 {
  color: rgba(255, 147, 192, 0.979); }

.card-title {
  color: rgba(255, 147, 192, 0.979); }

h1, .h2 {
  background-color: rgba(255, 147, 192, 0.979);
  color: white;
  text-align: center;
  margin: 20px 0 20px 0;
  font-weight: bold; }

.text-center {
  color: white;
  margin-top: 20px; }

.container-fluid {
  margin-top: 50px;
  margin-bottom: 50px; }

.maglia {
  color: white; }

.carousel-item {
  margin-top: 50px; }

.calcia {
  text-align: center;
  display: block;
  margin: 10px auto; }

.text-muted {
  margin-bottom: 30px; }

form {
  background-color: pink;
  background-color: rgba(255, 147, 192, 0.979); }

form {
  padding: 50px; }

.form-select {
  text-align: center;
  display: block;
  width: 0 auto; }

.h2 {
  font-style: italic; }

.st-form {
  text-align: center;
  font-style: italic; }

header {
  position: sticky;
  top: 0;
  z-index: 2; }
