$title-color: rgb(243, 172, 225);
$testo-nav: rgb(253, 229, 123);
$font-body:'Jua', sans-serif;
$margini: 50px;
$second-font: white;



html{
    font-style: $font-body;
}

.bi {
    color: $title-color;
   
}

li{
    margin-right:40px;
    text-align: center;
}
#palermo{
    width: 130px;
    height: 100px;
}

li p{
    color: $testo-nav;
}

#nav{
    box-shadow: 5px 5px $title-color;
}

h4, h5{
    color: $title-color;
}

.card-title{
    color: $title-color;
}

h1{
    background-color: $title-color;
    color: $second-font;
    text-align: center;
    margin: 20px 0 20px 0;
}

.text-center{
    color: $second-font;
    margin-top: 20px;

}

.container-fluid{
    background-color: $title-color;
    margin-top:$margini;
    margin-bottom: $margini;

}
.maglia{
    color: $second-font;
}
.carousel-item{
    margin-top: $margini;
}

.calcia{
    text-align: center;
    display: block;
    margin:10px auto;
}

